@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('/fonts/Satoshi-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-VariableItalic';
  src: url('/fonts/Satoshi-VariableItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

/* Optionally set the base font-family */
body {
  font-family: 'Satoshi-Variable', sans-serif;
}

.hero-desktop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, white);
  opacity: 0.3;
}


.cta-btn {
  @apply px-[32px] py-[12px] font-medium rounded-[200px] border-white border-[1px] text-white;
}

.cta-btn-filled {
  @apply px-[32px] py-[12px] font-medium rounded-[200px] border-white border-[1px] bg-white text-blue;
}